

h2, h1{
  text-align: center;
  color: green;
}

.frame{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  font: 14px Courier, monospace;
  border: 10px solid greenyellow;
}

.photo{
  align-self: center;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;

}

.picTitles{
  border-left: 1px solid transparent;
  background-color: grey;
  font-weight: regular;
  width: 150px;
  height: 100px;
  padding: 0.5em;
}

@media screen and (min-width: 480px) {
  .frame {
    flex-direction: row;
  }
}